.todo-header {
  display: flex;
  justify-content: space-between;
  margin: 43px 0 55px;
}

.activity {
  font-weight: bold;
  font-style: normal;
}

.btn {
  border-radius: 45px !important;
  border: 0 !important;
  padding: 13.5px 29px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.btn.btn-primary {
    background-color: #16abf8;
}

.dashboard-content {
    padding: 0 20px 0 0;
}